body {
	margin: 0;
	color: $font-color;
	font-family: $Arvo-font;
	font-size: 1em;
	line-height: 2;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: $font-color;
	font-family: $Old-Standard-font;
	line-height: 1.5;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2.0em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1em;
}

header {
	background-repeat: no-repeat;
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	height: 100vh;
}

nav {
	text-align: center;
	top: 0;
	position: fixed;
	width: 100%;
	a {
		text-decoration: none;
		display: inline-block;
		padding: 15px;
		line-height: 20px;
		color: $font-color;
	}
}

section {
	height: 100vh;
}

.grand-text {
	position: relative;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.section-2{
	background: red;
}